<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shakti-Fresh foods</title>
    
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <section class = "xl:h-screen" main py-12 ">
        <div class="container mx-auto flex items-center justify-between">
            <div class = "w-1/2">
                <h6 class = "text-lg"><em> From Farm to Fork  </em></h6>
                <h1 class = "text-3xl md:text-6xl font-bold">"Green & Fresh Delivered!"</h1>
                <button class="btn-main px-6 py-2 rounded-full text-white font-bold mt-4" type="submit">Order Now</button>
            </div>
            <div class ="w-1/2">
                <img src="/img/main-1.png" alt="">
            </div>
        </div>
    </section>

    <section class = "menu container mx-auto ">
        <h1 class = "text-xl font-bold mb-8">Products</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-16 gap-y-12  ">

            <% fresh.forEach(function(fresh){ %>
                <div class="w-full md:w-64 ">
                    <img class ="h-40 mb-4 mx-auto" src="<%= fresh.image %>" alt="">
                    <div class="text-center">
                        <h2 class="mb-4 text-lg"> <%= fresh.name %> </h2>
                        <span class="size py-1 px-4 rounded-full uppercase text-xs"> <%= fresh.weight %> </span>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg">Rs <%= fresh.price %></span>
                            <button data-fresh = "<%= JSON.stringify(fresh) %>"
                                class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
          <%  }) %>
            
        </div>
    </section>
   
<footer class="rounded-lg shadow m-4 ">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="/" class="hover:underline">Shakti</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
        </li>
        <li>
            <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
        </li>
        <li>
            <a href = "mailto: support_shakti@gmail.com" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>

    <script src="/js/app.js"></script>
</body>
</html>